BODY, P, H1, H2, H3, TABLE, TD, TH, UL, OL, TEXTAREA, INPUT {
	font-family: verdana, helvetica, arial, sans-serif;
}

BODY {
	margin-top: 4px;
	margin-bottom: 0px;
}

TABLE {
	font-size: 100%;
}

.error {
	background-color: red;
}

.table1 {
	BORDER-RIGHT: #000000 1px solid; 
	BORDER-TOP: #000000 1px solid; 
	BACKGROUND-IMAGE: none; 
	BORDER-LEFT: #000000 1px solid; 
	BORDER-BOTTOM: #000000 1px solid; 
	BACKGROUND-COLOR: #767776
}

.table1head1 {
	PADDING-LEFT: 0.35em; 
	FONT-WEIGHT: bold; 
	FONT-SIZE: 77%; 
	BACKGROUND-IMAGE: none; 
	COLOR: #ffffff; 
	FONT-FAMILY: Arial,Helvetica, sans-serif; 
	BACKGROUND-COLOR: #8691c7; 
	TEXT-ALIGN: left
}

.table1body1 {
	FONT-SIZE: 70%; 
	BACKGROUND-IMAGE: none; 
	FONT-FAMILY: Arial,Helvetica, sans-serif; 
	BACKGROUND-COLOR: #f7f7f7
}

.table1foot1 {
	PADDING-LEFT: 0px; 
	FONT-WEIGHT: normal; 
	BACKGROUND-IMAGE: none; COLOR: #000000; 
	FONT-FAMILY: Arial,Helvetica, sans-serif; 
	BACKGROUND-COLOR: #cccccc
}

.button1 {
	BORDER-RIGHT: #000000 1px outset; 
	BORDER-TOP: #b1b1b1 1px outset; 
	FONT-SIZE: 70%; 
	MARGIN: 1px 2px; 
	BORDER-LEFT: #b1b1b1 1px outset; 
	BORDER-BOTTOM: #000000 1px outset; 
	FONT-FAMILY: Arial,Helvetica, sans-serif; 
	BACKGROUND-COLOR: #e2e2e2
}




