BODY, P, H1, H2, H3, TABLE, TD, TH, UL, OL, TEXTAREA, INPUT {
	font-family: verdana, helvetica, arial, sans-serif;
}

BODY {
	margin-top: 4px;
	margin-bottom: 0px;
	font-size: 80%;
}

TABLE {
	font-size: 100%;
}

.error {
	background-color: red;
}

.table1 {
	BORDER-RIGHT: #000000 1px solid; 
	BORDER-TOP: #000000 1px solid; 
	BORDER-LEFT: #000000 1px solid; 
	BORDER-BOTTOM: #000000 1px solid; 
	BACKGROUND-COLOR: #767776
}

.table1head1 {
	PADDING-LEFT: 0.35em; 
	font-size: 100%;
	FONT-WEIGHT: bold; 
	COLOR: #ffffff; 
	BACKGROUND-COLOR: #8691c7; 
	TEXT-ALIGN: left
}

.table1body1 {
	BACKGROUND-IMAGE: none; 
	BACKGROUND-COLOR: #f7f7f7;
}

.table1foot1 {
	PADDING-LEFT: 0px; 
	COLOR: #000000; 
	BACKGROUND-COLOR: #7691b3;
}

.button1 {
	BORDER-RIGHT: #000000 1px outset; 
	BORDER-TOP: #b1b1b1 1px outset; 
	MARGIN: 1px 2px; 
	BORDER-LEFT: #b1b1b1 1px outset; 
	BORDER-BOTTOM: #000000 1px outset; 
	BACKGROUND-COLOR: #e2e2e2
	font-size: 80%;
}

UL {
	list-style-type: square;
}


